$grey: #787b80;
$white: #ffffff;
$green: #153a41;
$darkgrey: #384048;
$greyee: #eeeeef;
$green50: #50c3af;
$greyd2: #d2d5da;

$primary-color: $grey;

$regular-font-weight: 400;
$main-font-size: 14px;
$font-stack: "PT Sans", "Arial", serif;
$main-line-height: 24px;