.button {
  display: inline-block;
  color: $white;
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: $green50;

  &:active {
    opacity: 0.5;
  }
}