.page-header {
  color: $white;
  background-color: $green;
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.page-header__wrapper {
  @include center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 120px;
}

.page-header__title {
  font-family: "Ubuntu", "Arial", serif;
  font-size: 53px;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 0;
}

.page-header__second-title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 75px;
}

.page-header__button {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;

  &:hover {
    background-color: $white;
    color: $green50;
  }
}

@media (max-width: 590px) {
  .page-header__title {
      font-size: 45px;
      line-height: 1;
      text-align: center;
    }
}