.services {
  padding-top: 55px;
  padding-bottom: 80px;
  background-color: $white;
}

.services__wrapper  {
  @include center;
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
}

.services__title {
  font-size: 18px;
  font-weight: bold;
  color: $darkgrey;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 0;
  // position: relative;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   margin: auto;
  //   width: 265px;
  //   height: 2px;
  //   left: 0; 
  //   top: 40px;
  //   background-image: linear-gradient(to right,$greye2, $greyee);
  // }
}

.services__btn {
  align-self: flex-start;
  margin-top: 30px;

  &:hover {
    background-color: $greyd2;
  }
}

.services__item {
  display: flex;
  flex-direction: column;
  width: 265px;
}

.services__description {
  margin-top: 45px;
  margin-bottom: 0;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    margin: auto;
    width: 265px;
    height: 2px;
    left: 0; 
    top: -25px;
    background-image: linear-gradient(to right,$greye2, $greyee);
  }
}

@media (max-width: 590px) {
  .services {
    padding-bottom: 0;
  }
  .services__wrapper  {
    // justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .services__item {
    margin-bottom: 50px;
  }
}